/**********************************************************/
/* RESET                                                  */
/**********************************************************/
body, html {
  padding: 0;
  margin: 0;
  font-family: var(--font);
}

p {
  margin: 0;
  padding: 0;
}
